.ingredient-search {
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  width: 50%;
  height: 100%;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  border: 1px solid black;
  box-shadow: 10px 10px orange;
  font-family: "Poiret One"
}

.submit {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 auto;
  display: block;
  font-family: "Poiret One"
}

.submit:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.submit:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .submit {
    padding: 13px 50px 13px;
  }
}